 
#Headerdescrip1 { 
   margin-top: -1.5%;
   margin-left: 2%;
   font-family:'Fjalla One', sans-serif;
   

}
.categories { 
    margin-left: 1.9%;
}

#Headerdescrip2 { 
        margin-top: 1%;
        margin-bottom: -9%;
        margin-left: 10%;
        font-family:  'MuseoModerno', cursive;
        font-weight: 900; 
        font-size: 30pt;
        color: cornflowerblue;
}
#Headerdescrip3 {
    margin-top: 9%;
        margin-bottom: --8%;
        margin-left: 10%;
        font-family:'MuseoModerno', cursive;
        font-weight: 900; 
        font-size: 30pt;
        color: cornflowerblue;
}

.imagemasthead{
    margin-top:8%;
}
.navbar { 
    margin-left: 65% ;
    margin-top:-10% ;
    font-family:'Fjalla One', sans-serif; 
    font-size: 20px;
    font-weight:100;
    color: rgb(1, 6, 17);
    
    }

    .navbar3 { 
        margin-left: 65% ;
        margin-bottom:-8% ;
        font-family:'Fjalla One', sans-serif; 
        font-size: 20px;
        font-weight:100;
        color: rgb(1, 6, 17);
        
        }
    

.inlinetext1{ 
margin-left: 14.98%;
margin-top:-12%;
margin-bottom: 10%;
font-family:'MuseoModerno', cursive; 
font-size: 35pt;
color: cornflowerblue;
        }


    .inlinetext2{
        margin-left:14% ;
        margin-top:-12% ;
        margin-bottom: 40%;
        font-family:'MuseoModerno', cursive; 
        font-size: 30pt;
        color: cornflowerblue;
    }   

#bottomtext{ 
    margin-top: 5%;
    margin-left: 45%;
    font-family: 'Fjalla One', sans-serif; 
}

#bottomtext2{ 
    margin-top:25% ;
    margin-left: 46%;
    margin-bottom: 5%;
    font-family: 'Fjalla One', sans-serif;

}
  .bottommenu{ 
      margin-left: 41%;
      }

      .bottommenu2{
          margin-top: -5%;
        margin-left: 41%;
      }


#bioimage { 
    margin-left: 55%;
}
.categorycards{ 

    margin-top: 9%;
    margin-left: 2%;


}
.abouthead{

    margin-left: 40%;
    margin-top: 10% ;
    font-family: 'Fjalla One', sans-serif;
    font-size:35pt;
}

.projecthead{ 
    margin-left: 42%;
    margin-top: 10%;
    margin-bottom: -8% ;
    font-family: 'Fjalla One', sans-serif;
    font-size: 105pt;
}

.contacthead{ 
    padding-top: 2%;
    margin-left: 40%;
    margin-bottom: 35%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 40pt;  
}
.thumbnails{
margin-left: 15%;
margin-top: -35%;
font-family:'Fjalla One', sans-serif; 
font-size: 25pt ;
}

 .container{ 
    margin-top: -30%;
    margin-left: 38%;
    margin-bottom: 15%;
    font-family:'Fjalla One', sans-serif; 
    font-size: 25pt;
} 
 .p1{ 
   font-family:  'MuseoModerno', cursive; 
   font-size: 35pt ;
   margin-left: 21%;
   color:cornflowerblue
 }
.textbox{
    margin-top: -40%;
    margin-bottom: 19%;
    margin-left: 2%;
    font-family: 'Fjalla One', sans-serif;
    font-size: 13pt;

}


#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm fieldset,
#fs-frm optgroup,
#fs-frm label,
#fs-frm #card-element:disabled {
  font-family: inherit;
  font-size: 100%;
  color: inherit;
  border: none;
  border-radius: 0;
  display: block;
  width: 50%;
  padding: 0;
  margin: 16%;
  margin-top:-3% ;
  -webkit-appearance: none;
  -moz-appearance: none;
}
#fs-frm label,
#fs-frm legend,
#fs-frm ::placeholder {
  font-size: .825rem;
  margin-bottom: 10%;
  margin-left: auto ;
  margin-right: auto;
  padding-top: .2rem;
  position: relative;
  display: flex;
  align-items: center;
}

/* border, padding, margin, width */
#fs-frm input,
#fs-frm select,
#fs-frm textarea,
#fs-frm #card-element {
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgb(92, 130, 255);
  padding: .75em 1rem;
  margin-bottom: 1.5rem;
}
#fs-frm input:focus,
#fs-frm select:focus,
#fs-frm textarea:focus {
  background-color: white;
  outline-style: solid;
  outline-width: thin;
  outline-color: gray;
  outline-offset: -1px;
}
#fs-frm [type="text"],
#fs-frm [type="email"] {
  width: 100%;
}
#fs-frm [type="button"],
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  width: auto;
  cursor: pointer;
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;
}
#fs-frm [type="button"]:focus,
#fs-frm [type="submit"]:focus,
#fs-frm [type="reset"]:focus {
  outline: none;
}
#fs-frm [type="submit"],
#fs-frm [type="reset"] {
  margin-bottom: 0;
  margin-left: 25%;
}
#fs-frm select {
  text-transform: none;
}

#fs-frm [type="checkbox"] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
  appearance: checkbox;
  display: inline-block;
  width: auto;
  margin: 0 .5em 0 0 !important;
}

#fs-frm [type="radio"] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
  appearance: radio;
}



